/* Стилизация главной страницы */

body {
    margin: 0;
    padding:  0;

    font-family: 'PT Sans', 'Aria', sans-serif;

    font-size: 14px;    
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
     
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px ;
}

.wrapper-shadow{
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
    background-color: #ffffff;
}
a {
    text-decoration: none;
}

.button {
    font: inherit;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #81b3d2;
    border: none;
    outline: none;
}

/* Стилизация header */

.main-navigation {
    background-color: #ffffff;

    line-height: 26px;
    font-weight: 700 ;
    
}

.navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-list a {
    color: black;
    text-align: center;
}

.navigation-list a:hover,
.navigation-list a:focus {
    color: #81b3d2;
}

.navigation-list a:active {
    color: rgba(0, 0, 0, 0.3);
}

.welcome-block {
    background-color: #1313146b;
    background-image: url('../img/index/background-photo.jpg');
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 773px;
}

.welcome-block h1 {
    text-align: center;
}

.city-advantages h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}

.city-advantages p {
    line-height: 26px;
    text-align: center;
}

.list-reasons {
    list-style: none;
    padding: 0;
}

.reason-text{
    text-align: center;
}

.reason-text h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    margin: 0;
}

.reason-text p {
    line-height: 21px;
} 

.reason-text-blue {
    color: #ffffff;
    background-color: #81b3d2;
    /* width: 400px;
    height: 256px; */
}

.list-advantages li{
    list-style: none;
}

.advantage {
    line-height: 21px;
    text-align: center; 

    color: #000000;   
}

.advantage h3 {
    font-size: 21px;
    font-weight: bold;
}

.reason-text-light {
    color: #000000;
    background-color: #eeeeee;
    /* width: 400px;
    height: 256px; */
}

.reservation {
    text-align: center;
}

.reservation h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.reservation p {
    line-height: 24px;
}

.button-brown {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

    background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
    background-color: #604e43;
}

.button-brown:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.form-reservation {
    /* width: 568px;
    height: 395px; */
    background-color: #ffffff;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);

    line-height: 26px;
    font-weight: bold;
    text-align: center;
}

.form-reservation p {
    margin: 0;
}

.form-reservation .date-input {
    border: none;
    background-color:#f2f2f2;

    font-weight: bold;
}

.form-reservation .date-input:hover {
    background-color: #ebebeb;
}

.form-reservation .date-input:focus {
    border: solid 2px #e5e5e5;
    background-color: #ffffff;
}

.form-reservation .date-input:active {
    border: solid 2px #e5e5e5;
    background-color: #ffffff;
}

.button-guests,
.number-guests-input {
    text-align: center;
    padding: 0;
    border: none;
    background-color: #f2f2f2
}

.button-guests {
    color: #cacaca;
    font-size: 18px;
    font-weight: bold;
}

.button-guests:hover,
.button-guests:focus {
    color: #000000;
}

.button-guests:active {
    color: #81b3d2;
}

.button.search-options {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    background-color: #81b3d2;
}

.button.search-options:hover,
.button.search-options:focus {
    background-color: #669ec0;
}

.button.search-options:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.map-sedona {
    width: 100%;
}
/* Стили для внутренней страницы */

.navigation-list .current {
    color: #766357;
}

.selection-form {
    background-color: #1313146b;
    background-image: url('../img/sedona-hotels/filter-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;

    color: #ffffff;
    line-height: 21px;
    width: 100%;
}

.selection-form fieldset{
    border: none;
}

.list-option {
    list-style: none;
}

.option [type="checkbox"] {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
}

.selection-form legend{
    font-size: 16px;
    font-weight: bold;
}

.cost {
    color: #ffffff;
    text-align: center;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 3px;
}

.button-form {
    border: solid 2px #ffffff;
    background-color: transparent;
    border-radius: 3px;
}

.button-form:hover,
.button-form:focus {
    background-color: #ffffff;
    color: #000000;
}

.searching-results {
    font-size: 12px;
    line-height: 18px;
    border-bottom: 1px solid #cacaca;
}
.searching-results h3 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.search-criteria {
    list-style: none;
}

.criteria-button {
    color: rgba(0, 0, 0, 0.3);
    border: none; 
    background-color: #ffffff;
    text-transform: uppercase;
}

.criteria-button:hover,
.criteria-button:focus {
    color: #81b3d2;
}

.criteria-button:active {
    color: #000000;
}

criteria-button.current-position {
    color: #81b3d2;
}

.sorting-button {
    border: none;
    background-color: #ffffff;
}

 .results ul {
    list-style: none;     
 }

 .name-hotel {
     font-size: 21px;
     list-style: 26px;
     font-weight: bold;
 }  

 .offer-description a:hover,
 .offer-description a:focus {
    color: #81b3d2;
 }

 .offer-description a:active {
    color: rgba(0, 0, 0, 0.3);
 }

 .offer-description h2 {
     color: #000000;
 }
 
 .type-hotel,
 .offer-description b {
     line-height: 21px;
     font-weight: 400;
 }

 .button-details:hover,
 .button-details:focus {
    background-color: #669ec0;
 }

 .button-details:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
 }

 .button-reservation {
     line-height: 21px;
     background-color: #766357;
     color: #ffffff;
     font-weight: bold ;
     text-align: center;
     outline: none;
}

 .button-reservation:hover,
 .button-reservation:focus {
    background-color: #604e43;
 }

 .button-reservation:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
 }

.rating {
    line-height: 21px;
    color: #666666;
    text-align: center;
    vertical-align: middle;
    background-color: #f2f2f2;
    /* width: 110px;
    height: 27px; */
}
.result-item {
    padding: 0;
    border-bottom: 1px solid #cacaca; 
    width: 100%;
}

/* Стили для footer */

.main-footer {
    width: 100%;
    background-color: #f2f2f2;
    opacity: 0.9;
}

.contacts {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    margin: 0;
}

.social-contacts{
    text-align: center;
}

.social-contacts ul {
    list-style: none;
    text-align: center;
}

.social-contacts li {
    /* width: 46px;
    height: 48px; */
    background-color:#81b3d2;
    text-align: center;    
}

.social-contacts li:hover,
.social-contacts li:focus{
    background-color: #669ec0;
}

.social-contacts li:focus{
    background-color: #5496bd;
}

.HTMLa {
    text-align: center;
    line-height: 26px;

}

.HTMLa a:hover,
.HTMLa:focus {
    color: #81b3d2;
}

.HTMLa:focus {
    color: #bdbbbc;
}