/*-----Общая стилизация-----*/

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;

  font-size: 14px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.wrapper-shadow {
  width: 100%;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  background-color: #ffffff;

  position: relative;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
  outline: none;

  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

/* Стилизация главной страницы */

.main-navigation {
  background-color: #ffffff;

  line-height: 26px;
  font-weight: 700;

}

.big-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.navigation-list {
  
  list-style: none;
  margin: 0 70px;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.navigation-list li {
  padding: 15px 0;
  width: 23%;
}

.navigation-list li.left-side {
  text-align: left;
}

.navigation-list li.right-side {
  text-align: right;
}

.navigation-list li.left-side:nth-child(2) {
  margin-right: auto;
}

.navigation-list a {
  color: black;
  box-sizing: border-box;
}

li.right-side a {
  margin-right: 3px;
}

.navigation-list a:hover,
.navigation-list a:focus {
  color: #81b3d2;
  outline: none;
}

.navigation-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.welcome-block {
  background-image: url("../img/index/background-photo.jpg");
  background-position: center -83px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1313146b;

  width: 100%;
  height: 508px;

  margin-bottom: 61px;

  position: relative;
}

.welcome-block::after {
  content: "";
  background-image: url("../img/index/polygon.png");
  background-position: 0 0;
  background-repeat: no-repeat;

  width: 100%;
  height: 58px;

  position: absolute;
  bottom: 0;
}

.welcome-block h1 {
  margin: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block-text-photo {
  display: flex;
}

.block-text-photo.reverse {
  display: flex;
  flex-direction: row-reverse;
}

.list-advantages {
  padding: 0;
  display: flex;
}

.horizontal-block {
  display: flex;
  position: relative;
  z-index: 2;
}

.introduction {
  width: 489px;
  margin: 0 auto 51px;
}

.city-advantages h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-bottom: 26px;
}

.city-advantages p {
  line-height: 26px;
  text-align: center;
}

.list-reasons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reason {
  width: 400px;
  min-height: 256px;
  box-sizing: border-box;

  padding: 47px 49px 39px;
}

.reason-text {
  text-align: center;
  margin: 0;
}

.reason h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  width: 151px;
  margin: 0 auto;
  margin-bottom: 24px;
  text-align: center;
}

.reason p {
  line-height: 21px;
  margin-bottom: 20px;
}

.reason.reason-text-blue {
  color: #ffffff;
  background-color: #81b3d2;
}
.reason.reason-text-light {
  background-color: #eeeeee;
  padding: 47px 69px 41px;
}

.photo {
  max-width: 800px;
}

.photo-city {
  background-image: url("../img/index/feature-picture.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1313146b;

  width: 100%;
  height: auto;
}

.photo-bridge-devil {
  background-image: url("../img/index/bridge.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1313146b;

  width: 100%;
  height: auto;
}

.advantage {
  line-height: 21px;
  text-align: center;

  min-height: 330px;

  padding: 60px 55px 82px;
}

.advantage:first-child::before {
  content: "";

  background-image: url("../img/index/home.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  width: 75px;
  height: 72px;

  display: block;
  margin: 0 auto 28px;
}

.advantage:nth-child(2)::before {
  content: "";

  background-image: url("../img/index/food.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  width: 74px;
  height: 70px;

  display: block;
  margin: 0 auto 30px;
}

.advantage:nth-child(3)::before {
  content: "";

  background-image: url("../img/index/present.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  width: 64px;
  height: 76px;

  display: block;
  margin: 0 auto 25px;
  position: relative;
  bottom: 5px;
}

.advantage h3 {
  font-size: 21px;
  font-weight: bold;
}

.advantage p {
  margin: 0;
}

.interesting-block-wrap {
  position: relative;
  z-index: 2;
  
  width: 100%;
  background-color: #ffffff;
  
  padding-top: 49px;
}

.interesting-block {
  width: 568px;
  margin: 0 auto;
  text-align: center;
}

.interesting-block h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 25px;
}

.interesting-block p {
  line-height: 24px;
  margin: 0;
  margin-bottom: 46px;
}

.block-reservation {
  width: 568px;
  margin: 0 auto;

  position: relative;
  z-index: 1;
}

.button-brown {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  width: 100%;
  padding: 30px;
  background-color: #766357;

  position: relative;
  z-index: 2;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.form-reservation {
  width: 100%;
  padding: 55px;

  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);

  line-height: 26px;
  font-weight: bold;

  position: absolute;

  transform: translateY(0%);
  transition: all 2s;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.form-reservation label {
  font-size: 14px;
  line-height: 26px;
  position: relative;
  min-width: 114px;
}

label.children-guests {
  min-width: auto;
  margin-right: 26px;
}

.form-reservation p {
  margin-bottom: 27px;
  margin-top: -2px;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-reservation .date-input {
  border: solid 2px transparent;
  background-color: #f2f2f2;
  font-weight: bold;
  width: 306px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 8px;
  padding-right: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

.form-reservation .date-input:hover {
  background-color: #ebebeb;
}

.form-reservation .date-input:focus {
  border: solid 2px #e5e5e5;
  background-color: #ffffff;
}

.form-reservation .date-input:active {
  border: solid 2px #e5e5e5;
  background-color: #ffffff;
}

.icon-calendar {
  width: 21px;
  height: 22px;
  fill: #cacaca;

  position: absolute;
  top: 10px;
  right: 9px;

  cursor: pointer;
}

.icon-calendar:hover,
.icon-calendar:focus {
  fill: #000000;
}

.icon-calendar:active {
  fill: #81b3d2;
}

.guest-count {
  display: flex;
  justify-content: space-between;

  margin-bottom: 54px;
}
.number-guests {
  display: flex;
  align-items: center;
}

.button-guests,
.number-guests-input {
  text-align: center;
  font-weight: bold;
  padding: 0;
  border: none;
  background-color: #f2f2f2;

  width: 38px;
  height: 38px;

  cursor: pointer;
}

.button-guests {
  color: #cacaca;
  font-size: 18px;
  font-weight: bold;

  width: 38px;
  height: 38px;
}

.button-guests:hover,
.button-guests:focus {
  color: #000000;
}

.button-guests:active {
  color: #81b3d2;
}

.button.search-options {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: #81b3d2;
  padding: 16px;
}

.button.search-options:hover,
.button.search-options:focus {
  background-color: #669ec0;
}

.button.search-options:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.close-form {
  transform: translateY(-100%);
  transition: all 2s;
}

.modal-error {
  animation: shake 1s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.map-sedona iframe {
  width: 100%;
  min-height: 594px;

  border: 0;
}

  /* Стили для внутренней страницы */

.navigation-list .current {
  color: #766357;
}

.selection-form,
.searching-results,
.result-item {
  padding: 28px 70px 27px;
  box-sizing: border-box;
}

.selection-form {
  background-color: #1313146b;
  background-image: url("../img/sedona-hotels/filter-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;

  color: #ffffff;
  line-height: 21px;
  width: 100%;
  min-height: 217px;

  display: flex;
}

.selection-form fieldset {
  border: none;
  margin-right: 115px;
  padding: 0;
}

.selection-form fieldset:last-of-type {
  margin-right: 1px;
}

.selection-form label {
  padding-left: 40px;
  padding-top: 3px;
  padding-bottom: 7px;

  position: relative;

  cursor: pointer;
}

.results-search {
  margin-left: auto;
  text-align: center;

  display: flex;
  flex-direction: column;
}

.list-option {
  list-style: none;
  padding: 0;
  margin: 0;
}

.option {
  position: relative;
}

.label-checkbox-option {
  position: relative;
}

.list-option [type="checkbox"] ~ .label-checkbox-option::after {
  content: "";
  position: absolute;
  top: -7px;
  left: -5px;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 2px;
  padding: 4px 4px 0 4px;
}

.list-option [type="checkbox"]:focus ~ .label-checkbox-option::after {
  border: 2px solid #619fff;
}

.list-option [type="checkbox"] ~ .label-checkbox-option .checkbox-indicator {
  display: block;
  width: 20px;
  height: 20px;

  border: 2px solid #ffffff;
  border-radius: 3px;

  position: absolute;
  top: -1px;
  left: 0;
}

.list-option [type="checkbox"]:checked ~ .label-checkbox-option .checkbox-indicator::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 3px;

  display: block;
  width: 16px;
  height: 7px;
  border: 4px solid #ffffff;
  border-top-width: 0;
  border-right-width: 0;

  transform: rotate(-45deg);
}

.list-option [type="checkbox"]:disabled ~ .label-checkbox-option .checkbox-indicator,
.list-option [type="checkbox"]:disabled ~ .label-checkbox-option .checkbox-indicator::before {
  border-color: #6a6a6a;
}

.list-option .option:not(:last-child) {
  margin-bottom: 25px;
}

.selection-form legend {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 25px;
}

.results-search legend {
  margin-bottom: 10px;
}

.cost-day {
  margin-bottom: 22px;
  height: 34px;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 3px;
  font-size: 0;
  position: relative;
}

.cost-day::after {
  content: "";

  width: 2px;
  height: 22px;
  background-color: #ffffff;

  position: absolute;
  top: 3px;
  left: 157px;
}

.cost-day label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 29px;
  text-align: left;
  cursor: pointer;
  width: 90px;
  padding: 0 0 0 68px;
}

.cost {
  font: inherit;
  color: #ffffff;
  background: none;
  border: none;
  outline: none;
  width: 50px;
  min-height: 29px;
  margin: 0;
  position: absolute;
  top: -1px;
  left: 88px;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  top: -10px;
  border: 9px solid #ffffff;
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 79%;
}

.button-form {
  border: solid 2px #ffffff;
  background-color: transparent;
  border-radius: 3px;

  width: 133px;

  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 auto;
}

.button-form:hover,
.button-form:focus {
  background-color: #ffffff;
  color: #000000;
}

.searching-results {
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px solid #cacaca;
  min-height: 86px;

  display: flex;
}
.searching-results h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin: auto 0;
  margin-right: 49px;
}

.searching-results h4 {
  margin: 8px 38px 0 0;
}

.search-criteria {
  list-style: none;
  padding: 0;
  margin: auto 0;

  display: flex;
}

.search-criteria li {
  border: 2px solid transparent;
}

.sorting {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.criteria-button {
  color: rgba(0, 0, 0, 0.3);
  border: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 0;
  margin-top: 4px;
  margin-right: 30px;
}

.criteria-button:hover,
.criteria-button:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.criteria-button:active {
  color: #000000;
  border: none;
}

.criteria-button.current-position {
  color: #81b3d2;
  border: none;
}

.sorting-button {
  border: none;
  background-color: #ffffff;
  outline: none;

  padding: 4px 4px 0;
}

.results ul {
  list-style: none;
  padding: 0;
  margin: 0 1px 0 0;
}

.rate-hotel {
  margin-left: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rate {
  display: flex;
  justify-content: flex-end;
}

.star-four::before {
  content: "";
  background-image: url("../img/general/star.svg");
  background-repeat: space;
  background-position: 0 0;

  width: 89px;
  height: 17px;

  display: block;
  margin-left: auto;
}

.star-three::before {
  content: "";
  background-image: url("../img/general/star.svg");
  background-repeat: space;
  background-position: 0 0;

  width: 66px;
  height: 17px;

  display: block;
  margin-left: auto;
}

.star-two::before {
  content: "";
  background-image: url("../img/general/star.svg");
  background-repeat: space;
  background-position: 0 0;

  width: 42px;
  height: 17px;

  display: block;
  margin-left: auto;
}

.name-hotel {
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;

  margin: 0 0 -7px 0;
}

.offer-description-link:hover .name-hotel,
.offer-description-link:focus .name-hotel {
  color: #81b3d2;
  outline: 0;
}

.offer-description-link:focus {
  outline: 0;
}

.offer-description-link:active .name-hotel {
  color: rgba(0, 0, 0, 0.3);
}

.type-hotel {
  width: 116px;
}

.type-hotel,
.offer-description b {
  line-height: 21px;
  font-weight: 400;
}

.control {
  margin-bottom: 3px;

  display: flex;
  justify-content: space-between;
}

.type-price {
  display: flex;
}

.button-details {
  margin-right: 6px;
}

.button-details,
.button-reservation {
  line-height: 21px;
  padding: 3px 17px;
}

.button-reservation {
  background-color: #766357;
  color: #ffffff;
}

.button-details:hover,
.button-details:focus {
  background-color: #669ec0;
  color: #ffffff;
}

.button-details:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-reservation:hover,
.button-reservation:focus {
  background-color: #604e43;
}

.button-reservation:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.offer-description {
  min-height: 90px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating {
  line-height: 21px;
  color: #666666;
  text-align: center;
  vertical-align: middle;
  background-color: #f2f2f2;
  margin: 0 2px 2px 0;
  padding: 3px 13px 3px 16px;
}

.icon-up-dir,
.icon-down-dir {
  width: 11px;
  height: 10px;
  fill: #cacaca;
}

.icon-up-dir:hover,
.icon-down-dir:hover,
.icon-up-dir:focus,
.icon-down-dir:focus {
  fill: #000000;
}

.icon-up-dir:active,
.icon-down-dir:active {
  fill: #81b3d2;
}

.icon-up-dir.current,
.icon-down-dir.current {
  fill: #81b3d2;
}

.result-item {
  border-bottom: 1px solid #cacaca;
  width: 100%;

  display: flex;
}

.photo-hotel {
  margin: 2px 30px 0 2px;
}

/* Стили для footer */

.main-footer {
  width: 100%;
  padding: 26px 0 29px;

  position: absolute;
  bottom: 0;
  left: 0;

  background-color: rgba(255,255,255,0.9);

  display: flex;
  justify-content: space-around; 
}

.footer-block {
  width: 30%;
  text-align: center;
  justify-content: center;
}

.contacts {
  font-size: 21px;
  font-weight: bold;
  line-height: 35px;
  margin: 0;
  margin-left: 70px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  box-sizing: border-box;  
}

.contacts p {
  margin: 0;
}

.contacts a {
  color: #000000;
}

.contacts a:hover,
.contacts a:focus {
  outline: none;
  color: #81b3d2;
}

.social-contacts {
  padding-top: 10px;

  display: inline-block;
  vertical-align: top;
}

.social-contacts ul {
  list-style: none;
  text-align: center;
  display: inline-flex;
  vertical-align: top;
 
  margin: 0;
  padding: 0;
}

.social-contacts-item {
  width: 46px;
  height: 48px;

  margin-right: 6px;

  background-color: #81b3d2;
  text-align: center;

  cursor: pointer;

  position: relative;
}

.social-contacts-item:last-child {
  margin-right: 0;
}

.social-contacts a {
  display: block;
  width: 100%;
  height: 100%;
}

.inner-page .main-footer {
  padding: 28px 0;
  position: static;
}

.inner-page .contacts {
  margin-left: 80px;
}

.twitter::before {
  content: "";
  width: 17px;
  height: 15px;  

  background-image: url("../img/general/tw-icon.svg");
  background-repeat: no-repeat;

  position: absolute;
  top: 17px;
  left: 14px;
}

.facebook::before {
  content: "";
  width: 12px;
  height: 22px;

  background-image: url("../img/general/fb-icon.svg");
  background-repeat: no-repeat;

  position: absolute;
  top: 13px;
  left: 16px;
}

.youtube::before {
  content: "";
  width: 20px;
  height: 16px;

  background-image: url("../img/general/youtube-icon.svg");
  background-repeat: no-repeat;

  position: absolute;
  top: 16px;
  left: 12px;
}

.social-contacts-item:hover,
.social-contacts-item:focus {
  background-color: #669ec0;
}

.social-contacts-item:active {
  background-color: #5496bd;
}

.social-contacts-item a:active {
  opacity: 0.3;
}

.HTMLa {
  text-align: center;
  line-height: 26px;

  display: flex;
}

.HTMLa p {
  position: relative;
  top: 6px;
  left: -2px;
}

.HTMLa a {
  position: relative;
  top: 13px;
  left: 6px;
}

.HTMLa a:focus {
  outline: none;
}

.icon-HTMLa {
  width: 115px;
  height: 41px;
  fill: #231f20;
}

.HTMLa-link:hover .icon-HTMLa,
.HTMLa-link:focus .icon-HTMLa {
  fill: #81b3d2;
}

.HTMLa-link:active .icon-HTMLa {
  fill: #bdbbbc;
}
